.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 999;

}


@media (max-width: 1024px) {
    .whatsapp-icon {
        width: 55px;
        height: 55px;
    }
}

@media (max-width: 480px) {
    .whatsapp-icon.mobile {
        width: 50px !important;
        height: 48px !important;
        bottom: -2px;
        right: 10px
    }
}