
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:  Poppins, sans-serif;
  transition: background-color 0.4s ease, color 0.4s ease;
}