
:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --card-bg: #f9f9f9;
  --primary-color: #4f46e5;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --card-bg: #1e1e1e;
  --primary-color: #a855f7;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:  Poppins, sans-serif;
  transition: background-color 0.4s ease, color 0.4s ease;
}


* {
  transition: background-color 0.3s ease, color 0.3s ease;
}
